.conteudo {
	-fx-background-color: #000;
	-fx-font-family: "Oswald";
	-fx-text-fill: #eee;
	
}

.numero {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;
}

.titulo {
	-fx-text-fill: #48b2ee;
	-fx-font-size: 38px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: rgb(0, 255, 0);
}

.vermelha {
	-fx-text-fill: rgb(255, 0, 0);
}